@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{

  /* Colors  */
  --color-primary-lightest: #ebf1fc;
  --color-primary-lighter: #b2cdf8;
  --color-primary-light: #588de1;
  --color-primary: #124495;
  --color-primary-dark: #042c5f;
  --color-primary-darkest: #01132f;
  --color-primary-scrim: #01132f53;

  --color-neutral-white: #ffffff;
  --color-neutral-lightest: #f6f9ff;
  --color-light: #A2A5AB;

  --color-accent-lighter: #f3c1c6;
  --color-accent: #9C0111;
  --color-accent-dark: #76020e;


  /* Fonts */
  --font-display: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-body: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  --font-size-4xl: 4rem;
  --font-size-3xl: 2.5rem;
  --font-size-2xl: 1.75rem;
  --font-size-xl: 1.5rem;
  --font-size-lg: 1rem;
  --font-size-md: 0.875rem;


  /* Decorations */

  --radius-lg: 8px;
  --radius-md: 4px;
  --radius-sm: 2px;


  /* Transitions */
  --transition-hover-basic: background-color 0.05s linear, color 0.05s linear;

}

html{
  font-family: var(--font-body);
  overflow-x: hidden;
}

button, input, label{
  font-family: var(--font-body);
}

/* Main text styles */

h1{
  font-family: var(--font-body);
  font-size: 2.5rem;
  font-weight: 750;
  margin: 0.25rem 0;
}

h2{
  font-family: var(--font-body);
  font-size: 1.75rem;
  font-weight: 600;
  margin: 0.25rem 0;
}

h3{
  font-family: var(--font-display);
  font-size: 1.5rem;
  margin: 0.5rem 0 0.25rem;
  text-decoration: underline;
}

p{ margin: 0.25rem 0; }

b{ font-weight: 600;}

/* Main base styles */

#navView{
  background-color: var(--color-primary-darkest);
  color: var(--color-neutral-lightest);

  img.logo{
    width: 80%;
    margin: 10%;
  }

  button{
    width: 100%;
    padding: 0.75rem 1.5rem;
    
    display: flex;
    align-items: center;
    gap: 0.5rem;

    img {
      width: 28px; height: 28px;
    }
    
    background-color: transparent;
    border: none;
    
    font-size: var(--font-size-md);
    font-family: var(--font-display);
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    color: var(--color-neutral-lightest);

    cursor: pointer;
    transition: var(--transition-hover-basic);

    &:hover {
      background-color: var(--color-primary) !important;
    }

    &.active {
      background-color: var(--color-primary-dark);
      font-weight: 750;
    }
  }
}

main{
  background-color: var(--color-primary-lightest);
}

.flex{ display: flex; }

.spaced-items-sm {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}