
.insalum{
    font-family: var(--font-display);
    color:var(--color-neutral);
    text-align: left;
    margin-top: 1%;
    
.insalum2{
  font-family: var(--font-display);
    color:var(--color-neutral);
    text-align: left;
    margin-top: 1%;
}
    
  }
  .insalumatras{
    background-color: white;
    border-radius: 15px;
    float:left;
    height: 20%;
    width: 40%;
    margin-right: 2%;
  }
  .insalum td {
    padding: 7px;
    
  }
  .insalumfondo{
    background-color: var(--color-primary-lightest);
  }
  
  